{% extends 'base.twig' %}

{% block content %}
    <div class="container mt-5 mb-10">
        {% if user.admin %}
        <div class="row">
            <form action="/post/add" method="post" class="col">
                <article>
                    <header class="mb-4">
                        <h1 class="fw-bolder mb-1">Title</h1>
                        <input class="fs-1 form-control" type="text" name="title" value="">
                        <p class="fs-5 mb-4">Type</p>
                        <input class="fs-5 form-control" type="text" name="type" value="">
                    </header>

                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4 ">Text:</p>
                        <textarea class="form-control" rows="8" type="text" name="text"></textarea>
                    </section>
                </article>
                <div class="d-flex justify-content-between gap-1">
                    <div class="card mb-4 w-50">
                        <div class="card-header">Place</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <ul class="list-unstyled mb-0">
                                        <li>Mesto:
                                            <select name="regionId" class="form-select">
                                                {% for region in regions %}
                                                    <option value="{{ region.id }}">{{ region.city }}</option>
                                                {% endfor %}
                                            </select>
                                        </li>
                                        <li>Adresa: <input class="form-control" type="text" name="address" value=""></li>
                                        <li>Datum Konania: <input class="form-control" type="date" name="date_konania" value=""></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-4 w-50">
                        <div class="card-header">Description</div>
                        <div class="card-body"><textarea class="form-control" rows="5" type="text" name="description"></textarea></div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success pb-10 w-100 fs-4">Create</button>
            </form>
        </div>
        {% endif %}
    </div>
{% endblock %}